DEBUG_EMAIL=True
SITE_URL=http://127.0.0.1:8000
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CLOUDINARY_URL=
DJANGO_SECRET_KEY=
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=