DEBUG_EMAIL=True
SITE_URL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CLOUDINARY_URL=
DJANGO_SECRET_KEY=
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
GMAIL_API_CLIENT_ID=
GMAIL_API_CLIENT_SECRET=
GMAIL_API_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=