<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Pirates Compendium - Skill Delete</title>
</head>
<body>
  <h1>The Pirates Compendium - Skill Delete</h1>
  {% if user.is_authenticated %}
    <p>User: {{ user.username }}</p>
    <form action="{% url "logout" %}" method=post>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}" />
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <a href="{% url "login" %}">Login</a>
  {% endif %}
  <br>
  <a href="{% url "compendium:index" %}">Home</a>
  <br>
  <a href="{% url "compendium:skill_list" %}">Skills</a>
  <br>
  <a href="{% url "compendium:devil_fruit_list" %}">Devil fruits</a>
  <h2>Skill: {{ skill.name }}</h2>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete Skill">
  </form>
</body>
</html>